@import "tailwindcss";

/* // Trun of ::highlight */
body {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Drag and Drop */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}